[submodule "MQTTPlusBroker/vendor/uSockets"]
	path = MQTTPlusBroker/vendor/uSockets
	url = http://github.com/alexhultman/uSockets
[submodule "MQTTPlusBroker/vendor/spdlog"]
	path = MQTTPlusBroker/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "MQTTPlusBroker/vendor/websocketpp"]
	path = MQTTPlusBroker/vendor/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "MQTTPlusBroker/vendor/nlohmann-json"]
	path = MQTTPlusBroker/vendor/nlohmann-json
	url = https://github.com/nlohmann/json.git
