
/scripts/__pycache__
*.xcworkspace
**/**.xcodeproj
/bin
/bin-int
**/*Makefile
scripts/setup/__pycache__

/MQTTPlusClient/.next
/MQTTPlusClient/node_modules
/MQTTPlusBroker/vendor
/MQTTPlusClient/vendor
/vendor
/.vs
*.vcxproj
*.filters
*.user
*.sln
